{%- macro feels_like_f(temp, hum, w_speed=0) %}
{%- set temperature = temp | round(1) %}
{%- set windspeed = w_speed|default(1,1)|float(1)|round(1) %}
{%- set humidity = hum | round(1) %}
{%- set feelslike = temperature %}

{%- if temperature <= 50 and humidity >= 3 %}
{%- set feelslike = 35.74 + (0.6215 * temperature) - 35.75 * (windspeed ** 0.16) + ( (0.4275 * temperature) * (windspeed ** 0.16) ) %}
{%- endif %}

{%- if feelslike == temperature and temperature >= 80 %}
{%- set feelslike = 0.5 * (temperature + 61 + ((temperature - 68) * 1.2) + (humidity * 0.094) ) %}

{%- if feelslike >= 80 %}
  {%- set feelslike = - 42.379 + 2.04901523 * temperature + 10.14333127 * humidity - 0.22475541 * temperature * humidity - 0.00683783 * temperature * temperature - 0.05481717 * humidity * humidity + 0.00122874 * temperature * temperature * humidity + 0.00085282 * temperature * humidity * humidity - 0.00000199 * temperature * temperature * humidity * humidity %}    

  {%- if humidity < 13 and temperature >= 80 and temperature <= 112 %}
  {%- set feelslike = feelslike - ((13 - humidity) / 4) * math.sqrt((17 - math.fabs(temperature - 95.0)) / 17) %}

  {%- if humidity > 85 and temperature >= 80 and temperature <= 87 %}
    {%- set feelslike = feelslike + ((humidity - 85) / 10) * ((87 - temperature) / 5) %}
  {%- endif %}
  {%- endif %}
{%- endif %}
{%- endif %}
{{- feelslike | round(0) }}
{%- endmacro %}
